
<%- include('../partials/header.ejs') %>

	<main>
		<h1>Arquaponies</h1>
		<h2>
			Bekijk nu de Ceuvel via Augmented Reality op je telefoon!
		</h2>
		<a role="button" href="">Zet de AR aan</a>
	</main>

<%- include('../partials/footer.ejs') %>
