
<%- include('../partials/header.ejs') %>

	<main>
		<section class="site-section intro">
			<h1>Arquaponics</h1>
			<h2>
				Bekijk nu de Ceuvel via Augmented Reality op je telefoon!
			</h2>

			<a class="action-btn" role="button" href="/ar-tour">Zet de AR aan</a>
			<p>
				&hellip;of, ga naar de
				<a href="/home">website</a>
			</p>
		</section>
	</main>

<%- include('../partials/footer.ejs') %>
