
<%- include('../partials/header.ejs') %>

	<main class="zerostate">
		<article>
      <h2>Welkom bij de Augmented Reality van de Ceuvel!</h2>
      <p>
        Met jouw camera kun je via de AR stickers (zoals deze) allerlei soorten informatie te zien te krijgen over de bijbehorende woonboot.
        On an adventure you go!
      </p>
    </article>
	</main>

<%- include('../partials/footer.ejs') %>
