
<%- include('../partials/header.ejs') %>

	<h1>Homepage</h1>
	<p><%= message %></p>

  <script type="text/javascript">
		var sock = new SockJS('http://localhost:9999/echo');
		
		sock.onopen = function() {
			console.log('open');
		};
		
		sock.onmessage = function(e) {
			var data = JSON.parse(e.data);
			console.log(data);
		};
		
		sock.onclose = function() {
			console.log('close');
		};
  </script>

<%- include('../partials/footer.ejs') %>
