<%- include('../partials/header.ejs') %>

	<h1>Data</h1>

	<svg id="graph-piepschuimhuis" width="960" height="500"></svg>

	<script src="/scripts/clientHelpers.js"></script>
	<script src="/scripts/clientSock.js"></script>
	<script src="/scripts/energyGraphs.js"></script>

<%- include('../partials/footer.ejs') %>
