
<%- include('../partials/header.ejs') %>
	<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/examples/vendor/aframe/build/aframe.min.js"></script>
	<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>

	<h1>Tour</h1>
	<p><%= message %></p>
	
	<a-scene embedded arjs='sourceType: webcam;'>
		<!-- Defined marker content -->
		<a-marker preset='hiro'>
			<!-- here define the content to display on top of the marker -->
			<a-box position='.25 .25 -.25' material='color: red;'></a-box>
		</a-marker>

		<!--  -->
		<a-marker preset='kanji'>
			<a-box position='.25 .25 -.25' material='color: blue;'></a-box>
		</a-marker>

		<%#
		<a-marker type='pattern' url='/ar/greenhouse-pattern.patt'>
			<a-box position='0 0.5 0' material='color: black;'></a-box>
		</a-marker>
		%>

		<a-entity camera></a-entity>
	</a-scene>





<%- include('../partials/footer.ejs') %>
